<section class='card'>
    <a href="api/post/{{id}}">
        <header>Post #{{id}}:{{title}}, posted by {{user.dataValues.username}} at {{createdAt}} </header>
    </a>
    <p>{{content}}</p>
</section>